<div class='grid-item'>
    <div>
        <img src={{image}} alt={{url}}>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
    </div>
    <button class='button delete-btn'>Delete</button>

</div>